body{
    font-family: Roboto,sans-serif;
    letter-spacing: 0.02em;
    color: #2E2F42;
    

}
button{
    font-family: inherit;
    cursor: pointer;
    color: #4D5AE5;
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}
ul{
    list-style: none;
}
span{
    color: #4D5AE5;
}

h1{

font-weight: 600;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
}

h2{

font-weight: 600;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

h3{


font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.logo{
    font-family: Raleway,sans-serif ;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;
    color: #2E2F42;
}
.site-nav{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    
    }
.site-nav a{
    text-decoration: none;
    color: #2E2F42;
    }

.site-nav a:hover, .site-nav a:focus{
    color: #4D5AE5;
    text-decoration: underline;
}


.contacts{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;


}

.contacts a{
    text-decoration: none;
    color: #434455;
}
.contacts a:hover, .contacts a:focus{
    color: #4D5AE5;
}
.button-hero{

font-weight: 600;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.04em;
}
.hero-tittle{
font-weight: 600;
font-size: 56px;
line-height: 1.07;

text-align: center;
letter-spacing: 0.02em;

}


